@{
    ViewData["Title"] = "Home Page";
    ViewBag.Message = "Hello World";
    ViewData["Text2"] = "This is Home page.";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewBag.Message</h2>
<p>@ViewData["Text2"]</p>
