@{
    ViewData["Title"] = "About Page";
    ViewBag.Message = "This is an ASP.NET Core MVC app.";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewBag.Message</h2>
<p>This is the About page for our first ASP.NET Core MVC app.</p>
